In [1]:
#
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re
import os
import seaborn as sns
from datetime import datetime, timedelta

In [19]:
# filter records only on current lactation
df = pd.read_csv(r"more_reports\milking_7days.csv", sep = ";")
df.columns = [col.replace(" ", "_").lower().replace("-", "") for col in df.columns]
df

,animal_number,date,incomplete,incomplete_milkings,kickoff_lf,kickoff_lr,kickoff_rf,kickoff_rr,incomplete_milkings.1,occ(*1000_cells/ml),...,milk_duration_(mm:ss),lactation_number,position,teats_not_found,begin_time,end_time,mean_flow_lf,mean_flow_lr,mean_flow_rf,mean_flow_rr
0,897,11/15/2023,All,1,Unchecked,Unchecked,Unchecked,Unchecked,1,NaN,...,03:19,4,0,All,11/15/2023 4:05 AM,4:08 AM,0.00,0.00,0.00,0.00
1,1489,11/10/2023,NaN,0,Unchecked,Unchecked,Unchecked,Unchecked,0,NaN,...,03:58,1,0,All,11/10/2023 5:08 PM,5:12 PM,0.00,0.00,0.00,0.00
2,1472,11/15/2023,NaN,0,Unchecked,Unchecked,Unchecked,Unchecked,0,NaN,...,10:48,1,0,"LF, LR, RR",11/15/2023 3:07 AM,3:17 AM,0.30,0.24,0.60,0.24
3,1472,11/10/2023,NaN,0,Unchecked,Checked,Unchecked,Unchecked,0,NaN,...,11:19,1,0,"LF, RF, RR",11/10/2023 2:32 PM,2:43 PM,0.00,0.30,0.30,0.00
4,1401,11/10/2023,"RF, RR",1,Unchecked,Unchecked,Unchecked,Unchecked,1,8.0,...,05:49,1,0,"RF, RR",11/10/2023 1:54 PM,2:00 PM,1.92,1.38,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5171,1236,11/10/2023,NaN,0,Unchecked,Unchecked,Unchecked,Unchecked,0,8.0,...,08:21,2,0,NaN,11/10/2023 12:09 AM,12:17 AM,0.84,0.84,1.14,0.84
5172,1380,11/10/2023,NaN,0,Unchecked,Unchecked,Unchecked,Unchecked,0,NaN,...,04:44,1,0,NaN,11/10/2023 12:12 AM,12:17 AM,1.50,1.62,1.38,1.26
5173,1476,11/10/2023,NaN,0,Unchecked,Unchecked,Unchecked,Unchecked,0,14.0,...,07:08,1,0,NaN,11/10/2023 12:07 AM,12:14 AM,0.78,0.60,0.66,0.54
5174,1225,11/10/2023,NaN,0,Unchecked,Unchecked,Unchecked,Unchecked,0,114.0,...,05:24,2,0,NaN,11/10/2023 12:08 AM,12:13 AM,1.92,1.38,1.98,NaN
5175,1447,11/10/2023,NaN,0,Unchecked,Unchecked,Unchecked,Unchecked,0,NaN,...,06:29,1,0,NaN,11/10/2023 12:04 AM,12:11 AM,0.96,0.72,0.72,0.66

In [20]:
# filter records only on current lactation
df = pd.read_csv(r"more_reports\one_year_milk.csv", sep = ";")
df.columns = [col.replace(" ", "_").lower().replace("-", "") for col in df.columns]
df

,animal_number,date,total_yield,daily_avg._duration_(mm:ss),avg._daily_yield_previous_7d,days_in_milk
0,1102,11/17/2022,30.41,07:00,46.04,203
1,1102,11/17/2022,30.41,07:00,46.04,203
2,1146,11/17/2022,35.69,06:13,47.75,144
3,1146,11/17/2022,35.69,06:13,47.75,144
4,1094,11/17/2022,82.33,06:04,61.54,59
...,...,...,...,...,...,...
199287,1177,11/17/2023,31.52,14:22,49.95,20
199288,1164,11/17/2023,22.76,07:04,59.16,24
199289,1246,11/17/2023,13.79,06:28,45.21,249
199290,902,11/17/2023,21.77,09:09,48.09,66
199291,1360,11/17/2023,13.58,06:48,35.56,281

In [18]:
# filter records only on current lactation
df = pd.read_csv(r"more_reports\milk_perf7days.csv", sep = ";")
df.columns = [col.replace(" ", "_").lower().replace("-", "") for col in df.columns]
df

,animal_number,group_name,lactation_number,days_in_milk,avg_daily_yield_last_7_days,avg_daily_milkings_last_7_days,max_milking_interval_last_7_days,avg_yield_per_milking_last_7_days,avg_milking_duration_last_7_days,avg_flow_last_7_days,avg_daily_harvesting_flow_last_7_days,avg_kick_offs_per_milking_last_7_days,avg_incomplete_milkings_last_7_days,performance_index
0,1058,VMS 1&2 group,2,445,39.88,2.57,13:50,15.51,06:57,4.24,2.23,0.06,0.00,100
1,948,VMS 1&2 group,3,437,34.01,2.43,18:28,14.88,06:05,4.83,2.46,0.00,0.00,100
2,1320,VMS 3 & 4 Group,1,414,32.60,1.57,21:54,20.75,07:03,4.72,2.96,0.00,0.00,100
3,1200,VMS 1&2 group,2,356,34.33,2.43,13:55,14.14,06:56,3.94,2.04,0.00,0.00,100
4,1329,VMS 3 & 4 Group,1,355,31.39,2.29,15:49,13.73,05:44,4.62,2.41,0.00,0.14,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,1184,VMS 3 & 4 Group,3,4,22.61,1.00,13:26,12.92,05:10,6.58,2.51,0.00,0.00,100
236,1511,VMS 3 & 4 Group,1,3,9.77,0.71,14:43,5.86,06:29,3.41,0.92,0.20,0.00,100
237,1484,Calving pen,1,1,6.01,0.29,10:39,3.01,05:09,2.70,0.60,0.00,0.00,100
238,1314,VMS 3 & 4 Group,2,1,4.89,0.14,00:00,4.89,04:40,3.54,1.22,0.00,0.00,100
239,855,VMS 3 & 4 Group,5,0,0.00,0.00,00:00,0.00,00:00,0.00,0.00,0.00,0.00,0

In [21]:
# peak flow
# incomplete milkings
# teats not found