In [2]:
import os
import pandas as pd
import numpy as np
import seaborn as sns

C:\Users\marie\AppData\Local\Temp\ipykernel_33796\102547367.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
dirpath = os.getcwd()
data_path = os.path.join(dirpath, "..", "delpro_vms", "data")
# read vistit data
all_df = pd.read_csv(os.path.join(data_path, "delpro_visit_lactation.csv"))

In [47]:
# find columns with teats
columns_q = [col for col in all_df.columns if col.split("_")[-1] in ["lf", "lr", "rr", "rf"]]
col_dict = {}
for col in  columns_q:
    key = "_".join(col.split("_")[0:-1])
    if key in col_dict.keys():
        col_dict[key].append(col)
    else:
        col_dict[key] = [col]

In [49]:
for i, key in enumerate(col_dict.keys()):
    sel_cols = ["animal_number", "begin_time"] + col_dict[key]
    temp = all_df[sel_cols]
    # select columns and melt 
    temp2 = pd.wide_to_long(temp, [key], i = ["animal_number", "begin_time"], j="teat", sep='_', suffix=r'\w+').reset_index()
    if i == 0:
        df_long = temp2.copy()
    else:
        df_long = pd.merge(df_long, temp2, on = ["animal_number", "begin_time", "teat"])
df_long

        animal_number          begin_time teat  conductivity
0                 971    9/8/2023 5:33 PM   lf          3.46
1                 971    9/8/2023 5:33 PM   lr          3.56
2                 971    9/8/2023 5:33 PM   rf          3.30
3                 971    9/8/2023 5:33 PM   rr          3.75
4                 971    9/9/2023 7:20 AM   lf          4.51
...               ...                 ...  ...           ...
653023           1371  12/5/2023 12:01 PM   rr          4.14
653024           1371  12/6/2023 10:45 AM   lf          3.85
653025           1371  12/6/2023 10:45 AM   lr          4.08
653026           1371  12/6/2023 10:45 AM   rf          4.04
653027           1371  12/6/2023 10:45 AM   rr          4.03

[653028 rows x 4 columns]
        animal_number          begin_time teat  mean_flow
0                 971    9/8/2023 5:33 PM   lf       1.20
1                 971    9/8/2023 5:33 PM   lr       1.26
2                 971    9/8/2023 5:33 PM   rf       1.14
3                 971    9/8/2023 5:33 PM   rr       1.26
4                 971    9/9/2023 7:20 AM   lf       0.66
...               ...                 ...  ...        ...
653023           1371  12/5/2023 12:01 PM   rr       1.08
653024           1371  12/6/2023 10:45 AM   lf       0.66
653025           1371  12/6/2023 10:45 AM   lr       1.08
653026           1371  12/6/2023 10:45 AM   rf       0.90
653027           1371  12/6/2023 10:45 AM   rr       0.90

[653028 rows x 4 columns]
        animal_number          begin_time teat  peak_flow
0                 971    9/8/2023 5:33 PM   lr       1.86
1                 971    9/8/2023 5:33 PM   rf       1.92
2                 971    9/8/2023 5:33 PM   rr       1.68
3                 971    9/8/2023 5:33 PM   lf       1.80
4                 971    9/9/2023 7:20 AM   lr       1.74
...               ...                 ...  ...        ...
653023           1371  12/5/2023 12:01 PM   lf       1.38
653024           1371  12/6/2023 10:45 AM   lr       1.56
653025           1371  12/6/2023 10:45 AM   rf       1.26
653026           1371  12/6/2023 10:45 AM   rr       1.32
653027           1371  12/6/2023 10:45 AM   lf       1.02

[653028 rows x 4 columns]
        animal_number          begin_time teat  yield
0                 971    9/8/2023 5:33 PM   lf   1.40
1                 971    9/8/2023 5:33 PM   lr   1.96
2                 971    9/8/2023 5:33 PM   rf   1.76
3                 971    9/8/2023 5:33 PM   rr   2.65
4                 971    9/9/2023 7:20 AM   lf   1.57
...               ...                 ...  ...    ...
653023           1371  12/5/2023 12:01 PM   rr   6.73
653024           1371  12/6/2023 10:45 AM   lf   3.05
653025           1371  12/6/2023 10:45 AM   lr   6.65
653026           1371  12/6/2023 10:45 AM   rf   3.91
653027           1371  12/6/2023 10:45 AM   rr   5.56

[653028 rows x 4 columns]
        animal_number          begin_time teat    kickoff
0                 971    9/8/2023 5:33 PM   lf  Unchecked
1                 971    9/8/2023 5:33 PM   lr  Unchecked
2                 971    9/8/2023 5:33 PM   rf  Unchecked
3                 971    9/8/2023 5:33 PM   rr  Unchecked
4                 971    9/9/2023 7:20 AM   lf  Unchecked
...               ...                 ...  ...        ...
653023           1371  12/5/2023 12:01 PM   rr  Unchecked
653024           1371  12/6/2023 10:45 AM   lf  Unchecked
653025           1371  12/6/2023 10:45 AM   lr  Unchecked
653026           1371  12/6/2023 10:45 AM   rf  Unchecked
653027           1371  12/6/2023 10:45 AM   rr  Unchecked

[653028 rows x 4 columns]

In [50]:
df_long

,animal_number,begin_time,teat,conductivity,mean_flow,peak_flow,yield,kickoff
0,971,9/8/2023 5:33 PM,lf,3.46,1.20,1.80,1.40,Unchecked
1,971,9/8/2023 5:33 PM,lr,3.56,1.26,1.86,1.96,Unchecked
2,971,9/8/2023 5:33 PM,rf,3.30,1.14,1.92,1.76,Unchecked
3,971,9/8/2023 5:33 PM,rr,3.75,1.26,1.68,2.65,Unchecked
4,971,9/9/2023 7:20 AM,lf,4.51,0.66,1.56,1.57,Unchecked
...,...,...,...,...,...,...,...,...
653023,1371,12/5/2023 12:01 PM,rr,4.14,1.08,1.56,6.73,Unchecked
653024,1371,12/6/2023 10:45 AM,lf,3.85,0.66,1.02,3.05,Unchecked
653025,1371,12/6/2023 10:45 AM,lr,4.08,1.08,1.56,6.65,Unchecked
653026,1371,12/6/2023 10:45 AM,rf,4.04,0.90,1.26,3.91,Unchecked
653027,1371,12/6/2023 10:45 AM,rr,4.03,0.90,1.32,5.56,Unchecked

In [43]:
temp2

        animal_number          begin_time teat    kickoff
0                 971    9/8/2023 5:33 PM   lf  Unchecked
1                 971    9/8/2023 5:33 PM   lr  Unchecked
2                 971    9/8/2023 5:33 PM   rf  Unchecked
3                 971    9/8/2023 5:33 PM   rr  Unchecked
4                 971    9/9/2023 7:20 AM   lf  Unchecked
...               ...                 ...  ...        ...
653023           1371  12/5/2023 12:01 PM   rr  Unchecked
653024           1371  12/6/2023 10:45 AM   lf  Unchecked
653025           1371  12/6/2023 10:45 AM   lr  Unchecked
653026           1371  12/6/2023 10:45 AM   rf  Unchecked
653027           1371  12/6/2023 10:45 AM   rr  Unchecked

[653028 rows x 4 columns]

In [37]:
temp2

        animal_number          begin_time teat  conductivity
0                 971    9/8/2023 5:33 PM   lf          3.46
1                 971    9/8/2023 5:33 PM   lr          3.56
2                 971    9/8/2023 5:33 PM   rf          3.30
3                 971    9/8/2023 5:33 PM   rr          3.75
4                 971    9/9/2023 7:20 AM   lf          4.51
...               ...                 ...  ...           ...
653023           1371  12/5/2023 12:01 PM   rr          4.14
653024           1371  12/6/2023 10:45 AM   lf          3.85
653025           1371  12/6/2023 10:45 AM   lr          4.08
653026           1371  12/6/2023 10:45 AM   rf          4.04
653027           1371  12/6/2023 10:45 AM   rr          4.03

[653028 rows x 4 columns]